<header>
  <div class="horniHeader">
    <a href="{{ site.baseurl }}">
      <img class="logo" src="assets/img/logo.png" alt="logo">
    </a>
    <div class="rychlyKontakty">
      <div class="napisteNam">
        <span>Napište nám</span>
        <a href="mailto:simekostav@simekostav.cz">simekostav@simekostav.cz</a>
      </div>
      <div class="rozdelovak"></div>
      <div class="zavolejteNam">
        <span>Zavolejte nám</span>
        <a href="tel:+420608214424">+420 608 214 424</a>
      </div>
    </div>
  </div>
  <div class="dolniHeader">
    <nav>
      <ul>
        <li class="active">
          <a href="#">Domů</a>
        </li>
        <li>
          <a href="#">Byty</a>
        </li>
        <li>
          <a href="#">Fotogalerie</a>
        </li>
        <li>
          <a href="#">Ceny</a>
        </li>
        <li>
          <a href="#">Kontakt</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
