<table>
  <thead>
    <tr>
      <th id="dum">dům</th>
      <th>počet místností</th>
      <th>plocha celkem(m2)</th>
      <th>1NP (m2)</th>
      <th>2NP (m2)</th>
      <th>terasa (m2)</th>
      <th id="zahrada">samostatná zahrada(m2)</th>
      <th>parkovací stání</th>
      <th>cena mil.</th>
      <th id="stav" >stav</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A1</th>
      <td>3kk</td>
      <td>88,2</td>
      <td>40,2</td>
      <td>36</td>
      <td>12</td>
      <td>102</td>
      <td>2</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>A2</th>
      <td>4kk</td>
      <td>101,2</td>
      <td>46,7</td>
      <td>42,5</td>
      <td>12</td>
      <td>108</td>
      <td>2</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>A3</th>
      <td>4kk</td>
      <td>101,2</td>
      <td>46,7</td>
      <td>42,5</td>
      <td>12</td>
      <td>225</td>
      <td>2</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>B1</th>
      <td>3kk</td>
      <td>88,2</td>
      <td>40,2</td>
      <td>36</td>
      <td>12</td>
      <td>108</td>
      <td>2</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>B2</th>
      <td>4kk</td>
      <td>101,2</td>
      <td>46,7</td>
      <td>42,5</td>
      <td>12</td>
      <td>111</td>
      <td>2</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>B3</th>
      <td>4kk</td>
      <td>101,2</td>
      <td>46,7</td>
      <td>42,5</td>
      <td>12</td>
      <td>242</td>
      <td>-</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>C1</th>
      <td>3kk</td>
      <td>88,2</td>
      <td>40,2</td>
      <td>36</td>
      <td>12</td>
      <td>87</td>
      <td>1</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>C2</th>
      <td>4kk</td>
      <td>101,2</td>
      <td>46,7</td>
      <td>42,5</td>
      <td>12</td>
      <td>133</td>
      <td>2</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>C3</th>
      <td>4kk</td>
      <td>101,2</td>
      <td>46,7</td>
      <td>42,5</td>
      <td>12</td>
      <td>263</td>
      <td>2</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>D1</th>
      <td>3kk</td>
      <td>88,2</td>
      <td>40,2</td>
      <td>36</td>
      <td>12</td>
      <td>120</td>
      <td>2</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th>D2</th>
      <td>4kk</td>
      <td>101,2</td>
      <td>46,7</td>
      <td>42,5</td>
      <td>12</td>
      <td>105</td>
      <td>2</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>

    <tr>
      <th id="posledni">D3</th>
      <td>4kk</td>
      <td>101,2</td>
      <td>46,7</td>
      <td>42,5</td>
      <td>12</td>
      <td>216</td>
      <td>2</td>
      <td>-</td>
      <td>prodáno</td>
    </tr>
  </tbody>
</table>
