#uvod {
  h1 {
    font-size: 40px;
    font-family: medium;
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: 5px;

    @media screen and (max-width: 550px) {
      padding-top: 30px;
    }

    @media screen and (max-width: 400px) {
      padding-top: 25px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;

    li {
      display: inline-block;
      padding: 15px;
      padding-top: 7px;
      padding-bottom: 7.5px;
      border-radius: 8px;
      margin-right: 15px;
      margin-top: 15px;

      a {
        font-size: 13px;
        font-family: medium;
        text-decoration: none;
        color: $white;
      }

      &:nth-child(1) {
        background: $orandzova;
      }

      &:nth-child(2) {
        background: $cervena;
      }

      &:nth-child(3) {
        background: $modra;
      }

      &:nth-child(4) {
        background: $zelena;
      }
    }
  }

  padding-bottom: 50px;

  @media screen and (max-width: 400px) {
    padding-bottom: 10px;
  }
}

.vrstvaInner {
  width: calc(100% - 100px);
  max-width: 900px;
  margin: 0 auto;

  p {
    font-size: 15px;
    line-height: 25px;
    margin: 25px 0;
  }

  h2 {
    font-size: 32px;
    font-family: medium;
    margin-top: 0;
    padding-top: 45px;

    @media screen and (max-width: 550px) {
      padding-top: 30px;
    }

    @media screen and (max-width: 400px) {
      padding-top: 30px;
    }
  }

  @media screen and (max-width: 550px) {
    width: calc(100% - 50px);
  }

  @media screen and (max-width: 400px) {
    width: calc(100% - 40px);
  }
}

.prechod1 {
  background: url("../img/prechod1.jpg");
}

.prechod2 {
  background: url("../img/prechod2.jpg");
}

.parallax {
  height: 230px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prechod3 {
  iframe {
    width: 100%;
  }

  height: 450px;
  z-index: -10;
}

#popis {
  padding-bottom: 40px;

  @media screen and (max-width: 400px) {
    padding-bottom: 10px;
  }
}

#lokalita {
  padding-bottom: 40px;

  @media screen and (max-width: 400px) {
    padding-bottom: 10px;
  }
}

#pudorysy {
  padding-bottom: 60px;

  h2 {
    width: calc(100% - 100px);
    max-width: 900px;
    font-size: 32px;
    font-family: medium;
    margin-top: 0;
    padding-top: 45px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .pudorysy {
    width: calc(100% - 100px);
    max-width: 950px;
    margin: 0 auto;

    ul {
      padding: 0;
      text-align: center;
      margin: 0 -30px;

      li {
        list-style: none;
        display: inline-block;
        width: 250px;
        margin: 15px 35px;
        vertical-align: top;

        img {
          width: 100%;
        }

        p {
          font-size: 14px;
        }

        @media screen and (max-width: 500px) {
          margin-left: 0;
          margin-right: 0;
          max-width: 250px;
          width: calc(100% - 30px);
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    padding-bottom: 20px;
  }
}
