.horniHeader {
  height: 90px;
  background: url("assets/img/pozadiHeader.jpg");
  background-repeat: repeat;
  background-size: 90%;
  background-position: center;
  z-index: 10;
  position: relative;

  .logo {
    height: 25px;
    margin-top: calc((90px - 25px)/2);
    margin-left: 50px;

    @media screen and (max-width: 850px) {
      margin-top: calc((60px - 20px)/2);
      height: 20px;
    }

    @media screen and (max-width: 550px) {
      margin-left: 20px;
    }

    @media screen and (max-width: 350px) {
      margin-left: 15px;
      margin-top: calc((60px - 18px)/2);
      height: 18px;
    }
  }

  .rychlyKontakty {
    display: inline-block;
    float: right;
    margin-right: 50px;
    margin-top: calc((90px - 55px)/2);

    div {
      display: inline-block;
      vertical-align: middle;

      span {
        display: block;
        font-size: 13px;
        color: $white;
        font-family: light;
        text-align: right;
        margin-bottom: 4px;
      }

      a {
        display: block;
        font-size: 17px;
        color: $white;
        font-family: medium;
        text-decoration: none;
      }
    }

    .rozdelovak {
      height: 55px;
      background: rgba($white, 0.5);
      width: 1px;
      border-radius: 100px;
      margin: 0 13.5px;
    }

    @media screen and (max-width: 850px) {
      display: none;
    }
  }

  .rychlyKontakty2 {
    display: none;
    float: right;
    margin-top: calc((60px - 40px)/2);
    margin-right: 50px;

    .rozdelovak {
      height: 40px;
      background: rgba($white, 0.5);
      width: 1px;
      border-radius: 100px;
      margin: 0 13.5px;
      display: inline-block;
      vertical-align: middle;
    }

    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;

      i {
        font-size: 22px;

        @media screen and (max-width: 350px) {
          font-size: 18px;
        }
      }

      &:first-child {
        i {
          font-size: 24px !important;

          @media screen and (max-width: 350px) {
            font-size: 20px;
          }
        }
      }
    }

    @media screen and (max-width: 850px) {
      display: block;
    }

    @media screen and (max-width: 550px) {
      margin-right: 20px;
    }

    @media screen and (max-width: 350px) {
      margin-right: 15px;
    }
  }

  @media screen and (max-width: 850px) {
    height: 60px;
  }
}

.dolniHeader {
  width: 100%;
  background: #FFFFFF;
  box-shadow:         0 0 20px 0 rgba(0,0,0,0.20);
  -moz-box-shadow:    0 0 20px 0 rgba(0,0,0,0.20);
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.20);
  z-index: 9;
  position: relative;
  height: 80px;

  nav {
    height: 100%;
  }

  ul {
    padding: 0;
    margin: 0;
    height: 100%;
    margin-left: 25px;

    li {
      list-style: none;
      display: inline-block;
      height: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      padding: 0 25px;

      a {
        text-decoration: none;
        color: $tmava;
        font-size: 17px;
        line-height: 80px;
        font-family: medium;

        @media screen and (max-width: 850px) {
          line-height: 51px;
          font-size: 15px;
        }
      }

      @media screen and (max-width: 850px) {
        padding: 0 20px;
      }
    }

    .active {
      border-bottom: 4px solid $cervena;
    }

    @media screen and (max-width: 850px) {
      margin-left: 0;
    }
  }

  @media screen and (max-width: 850px) {
    height: 50px;
    overflow: auto;
    white-space: nowrap;
  }
}
