/*****************************************

fonts

*****************************************/

@font-face {
    font-family: "book";
    src: url("../fonts/GothamRounded-Book.otf");
}

@font-face {
    font-family: "italic";
    src: url("../fonts/GothamRounded-BookItalic.otf");
}

@font-face {
    font-family: "bold";
    src: url("../fonts/GothamRounded-Bold.otf");
}

@font-face {
    font-family: "medium";
    src: url("../fonts/GothamRounded-Medium.otf");
}

@font-face {
    font-family: "mediumItalic";
    src: url("../fonts/GothamRounded-MediumItalic.otf");
}

@font-face {
    font-family: "light";
    src: url("../fonts/GothamRounded-Light.otf");
}

@font-face {
    font-family: "proxima";
    src: url("../fonts/proxima.otf");
}

/*****************************************

colors

*****************************************/

$white: #fff;
$tmava: #484848;
$cervena: #FF4447;
$svetleModra: #31DBFE;
$modra: #5399F7;
$zelena: #88E960;
$orandzova: #F39C12;

/*****************************************

defaults

*****************************************/

h1, h2, h3, h4, h5, p, span, a {
  font-weight: normal !important;
  font-family: book;
  color: $tmava;
}

.tlacitko {
  border-radius: 12px;
  font-family: medium;
  font-size: 16px;
  color: $white;
  text-decoration: none;
  background: $cervena;
  padding: 14px 30px;
  padding-bottom: 11px;
}

.tlacitko:hover {
  background: desaturate(darken($cervena, 10%), 30%);
}

.vrstva {
  background: $white;
  box-shadow:         0 0 20px 0 rgba(0,0,0,0.20);
  -moz-box-shadow:    0 0 20px 0 rgba(0,0,0,0.20);
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.20);
  z-index: 8;
}

.modra {
  color: $modra;
}
